<header class="navbar">
        <a href="/"> <h2>Book Note</h2></a>
        <a href="/library"><h2>Blibliothèque</h2></a>
        <% if (user) { %>
            <a href="/list"><h2>Mes livres</h2></a>
        <% } %>
        <% if (!user) { %>
            <div id="g_id_onload" data-client_id="<%= clientId %>" data-callback="handleCredentialResponse"></div>
            <div id="buttonDiv"></div>
        <% } else { %>
            <div class="user-info">
                <a href="/profil"><img src="<%= user.picture || '/images/default-avatar.png' %>" alt="Avatar" class="avatar"></a>
            </div>
        <% } %>


</header>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="/js/auth.js"></script>