<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Book Note</title>
    <%- include('../partials/head') %>


</head>
<body>
    <%- include('../partials/header') %>
  
    <div class="Book">
        <div class="Recommendation">
            <h2>Recommendation :</h2>
        </div>
        <div class="dejalu">
            <h2>Déjà Lu</h2>
        </div>
    </div>

    <script src="/js/google.js"></script>
</body>
</html>
